[submodule "contrib/apache-arrow/arrow"]
	path = contrib/apache-arrow/arrow
	url = ../../../hashdata/storage/arrow.git
	branch = hdw
[submodule "contrib/cloudberry_fdw/cbcopy"]
	path = contrib/cloudberry_fdw/cbcopy
	url = https://github.com/cloudberry-contrib/cbcopy.git
	branch = v1.0.7
